@media only screen and (max-width: 600px){
    nav{
        justify-content: flex-start;
        padding: 2rem;
        min-width: 100%;
        transition: 600ms;
    }
    .top-bar-element{
        display: none;
    }
    .hamburger{
        display: block;
    }
    /* .open-nav{} */
    
}